<!-- <div class="col-xs-12 col-sm-9" *ngIf="allStories"> -->
<div class="row feed-controls">
  <div class="col-sm-6">trending tags</div>
  <div class="col-sm-6">active users</div>
</div>
<div *ngIf="allStories"></div>
  <div class="row story-entry" *ngFor="let story of feedData">
    <div class="story-header">
      <h2 class="story-title">{{story.title}}</h2>
      <div class="story-author">
        by
        <a [routerLink]="['/profile', story.author]">{{story.author}}</a>
        <div *ngIf="user" class="story-follow-container">
          <div class="story-follow" *ngIf="user.username != story.author">
            <button (click)="addFollow(story.author)" *ngIf="!checkFollow(story.author)" type="button" class="btn btn-info btn-xs">Follow {{story.author}}</button>
            <button (click)="removeFollow(story.author)" *ngIf="checkFollow(story.author)" type="button" class="btn btn-default btn-xs">Unfollow {{story.author}}</button>
          </div>
        </div>
      </div>
      <div class="story-controls">
        <div class="story-navigation" *ngIf="story.storyId">
          <span data-toggle="tooltip" title="See previous post" *ngIf="story.activeBackNavigation" class="glyphicon glyphicon-chevron-left active"
            aria-hidden="true" (click)="triggerNavigation(story._id, story.storyId, 'back')"></span>
          <span data-toggle="tooltip" title="See previous post" *ngIf="!story.activeBackNavigation" class="glyphicon glyphicon-chevron-left"
            aria-hidden="true"></span>
          <span data-toggle="tooltip" title="See next post" *ngIf="story.activeForwardNavigation" class="glyphicon glyphicon-chevron-right active"
            aria-hidden="true" (click)="triggerNavigation(story._id, story.storyId, 'forward')"></span>
          <span data-toggle="tooltip" title="See next post" *ngIf="!story.activeForwardNavigation" class="glyphicon glyphicon-chevron-right"
            aria-hidden="true"></span>
        </div>
      </div>
      <p>
        {{ story.content }}
      </p>
      <div class="progress" *ngIf="story.progress">
        <div class="progress-bar progress-bar-{{story.progressColor}} progress-bar-striped active" role="progressbar" aria-valuenow="40"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: story.progress + '%' }">
          <!-- <span class="sr-only">40% Complete (success)</span> -->
        </div>
        <span [ngStyle]="{ width: (100 - story.progress) + '%' }" class="progress-bar-days-left">{{story.daysLeft}} days left</span>
      </div>
      <div class="story-tags" *ngIf="story.tags != ''">
        <div data-toggle="tooltip" title="Click to filter using this tag" class="story-tags-entry" *ngFor="let tag of story.tags.split(',')"
          (click)="addFilterTag(tag)">
          {{tag}}
        </div>
      </div>
    </div>

  <!-- </div> -->
  <!--/row-->
</div>
<!--/.col-xs-12.col-sm-9-->

<!-- Sidebar -->
<!-- <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  
  <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-search"></i>
    </span>
    <input id="email" type="text" class="form-control" [(ngModel)]="searchKey" (keyup)="onSearchChange()" placeholder="Search..">
  </div>
  <div class="filter-tags">
    <div class="filter-tags-entry" *ngFor="let tag of filterTags" (click)="removeFilterTag(tag)">
      {{tag}}
    </div>
  </div>

</div> -->
<!-- Sidebar -->