<div class="col-xs-12 col-sm-9" *ngIf="allStories">
  <div class="row story-entry" *ngFor="let story of allStories">
    <div class="story-header">
      <h2 class="story-title">{{story.title}}</h2>
      <div class="story-author">by {{story.author}}</div>
      <div class="story-tags" *ngIf="story.tags != ''">
        <div class="story-tags-entry" *ngFor="let tag of story.tags.split(',')" (click)="addFilterTag(tag)">
          {{tag}}
        </div>
      </div>
    </div>
    <p>
      {{story.content.substr(0, 500)}} ..
      <a href="">Read full</a>
    </p>
  </div>
  <!--/row-->
</div>
<!--/.col-xs-12.col-sm-9-->

<!-- Sidebar -->
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
  <!-- Standard button -->
  <button [routerLink]="['/post']" type="button" class="btn btn-default btn-lg btn-block bnt-post">
  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>Post</button>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input id="email" type="text" class="form-control" [(ngModel)]="searchKey" (keyup)="onSearchChange()" placeholder="Search..">
  </div>
  <div class="filter-tags">
    <div class="filter-tags-entry" *ngFor="let tag of filterTags" (click)="removeFilterTag(tag)">
      {{tag}}
    </div>
  </div>
  
</div>
<!-- Sidebar -->