.story-entry {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.story-header {
  margin-bottom: 10px;
}

.story-title {
  display: inline;
}

.story-controls {
  display: inline;
  float: right;
}

.story-author {
  display: inline;
  font-size: 22px;
  color: darkgrey;
  margin-left: 10px;
}

.story-follow-container, .story-follow {
  display: inline;
}

.story-navigation {
  display: inline;
  float: left;
  color: lightgrey;
  font-size: 18px;
}

.story-navigation span {
  padding: 5px;
  cursor: pointer;
}

.story-navigation span.active {
  color: black;
}

.story-tags {
  display: inline;
  float: right;
}

.story-tags {
  float: right;
}

.story-tags-entry {
  display: inline;
  padding: 5px;
  font-size: 16px;
  background: lightgrey;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.bnt-post .glyphicon {
  margin-right: 10px;
}

.bnt-post {
  margin-bottom: 10px;
}

.filter-tags {
  margin-top: 10px;
}

.filter-tags-entry {
  display: initial;
  padding: 5px;
  font-size: 16px;
  background: lightgrey;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.progress-bar-days-left {
  position: absolute;
  text-align: center;
}
